---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import Languages from '../components/Languages.astro';
import CLI from '../components/CLI.astro';
import Integrations from '../components/Integrations.astro';
import Install from '../components/Install.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <Features />
    <Languages />
    <CLI />
    <Integrations />
    <Install />
  </main>
  <Footer />
</Layout>
